XML-VALIDATION DU4/xsd-try/persona4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" maxOccurs="unbounded" type="xs:string" />
                <xs:element name="surname" type="xs:string" />
                <xs:element name="age" type="xs:string" />
                <xs:element name="birthdate" type="xs:date" />
                <xs:element name="startwork" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>